.drawer {
  width: 100%;
  &-side {
    & > .drawer-overlay {
      @apply cursor-pointer bg-transparent duration-200 ease-out transition-colors;
    }
  }
  &-toggle {
    &:checked ~ .drawer-side {
      & > .drawer-overlay {
        background-color: hsl(0 0% 0%/0.4);
      }
    }
    &:focus-visible ~ .drawer-content label.drawer-button {
      @apply outline outline-2 outline-offset-2;
    }
  }
}

[dir="rtl"] {
  .drawer-end .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
    transform: translateX(-100%);
  }
  .drawer-end .drawer-toggle:checked ~ .drawer-side > *:not(.drawer-overlay) {
    transform: translateX(0%);
  }
  .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
    transform: translateX(100%);
  }
  .drawer-toggle:checked ~ .drawer-side > *:not(.drawer-overlay) {
    transform: translateX(0%);
  }
}
